
<div class="jumbotron mt-4">
    <h4 >Notes App NodeJS-MongoDB-Handlebars</h4>
     <img src="https://storage.googleapis.com/hackersandslackers-cdn/2019/03/handlebars.jpg" height="410" width="950" >
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quia laboriosam maxime impedit. Magni cumque nesciunt soluta officiis dolore totam, sequi reprehenderit, recusandae sapiente, laborum consectetur eos repudiandae eum commodi.<p>
   
    <a href="" class="btn btn-primary">marcelcr98</a>
</div>
  